logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.xmake

.cache
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

pids
_.pid
_.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

out
dist

# temp and cache directory

.temp

# Stores VSCode versions used for testing VSCode extensions

.vscode-test

# yarn v2

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Finder (MacOS) folder config
.DS_Store

build
compile_commands.json
*.rc
*.rr
*.rrc
*.rsrc